
<app-listado-generico [listado]="peliculas">
  
  <ng-container contenido>
    <div class="contenedor-peliculas">
      <div *ngFor="let pelicula of peliculas; let index = index" class="contenedor-pelicula">
       <a>
         <img [src]="pelicula.poster" alt="poster"/>
       </a>
       <p>
         <a>{{pelicula.titulo}}</a>
       </p>
       <div>
         <a mat-flat-button color="primary">Editar</a>
         <button mat-flat-button color="warn">Borrar</button>
       </div>
      </div>
    </div>    
  </ng-container>
</app-listado-generico>  